# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Игнорируем папку с библиотеками (она весит 200Мб+, её не заливают)
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# Игнорируем результаты сборки
/build
/dist

# misc
# Игнорируем переменные окружения (безопасность!)
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорируем логи ошибок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы настроек VS Code
/.vscode
